html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    margin-bottom: 100px;
}

body {
    background: #FFFDF8; 
    color: black;
    background-attachment: fixed;
    height: 100%;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: large;
}

/* General styling for each page's body. All content should be written within the page-container */
.page-container {
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
}

/* NAVBAR STYLING */
.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    flex: 1;
}

.left {
    margin-top: 0;
    margin-left: 20px;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Italiana', serif;
}

.right {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Italiana', serif;
    font-size: 20px;
}

a:hover {
    color: green;
}

/* END OF NAVBAR STYLING */

/* Index Page*/

.left-pic {
    float: left;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.right-pic {
    float: right;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.overview-section, .row-container {
    overflow: auto;
}

/* END Index Page */

iframe {
    margin-top: 50px;
}

.pub-title, .data-title {
    color: blue;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-img {
    width: 200px;
}

.contact-name {
    margin-left: 25px;
}
